<footer class="site-footer" role="contentinfo">
  <div class="wrapper">
    <div class="site-footer__grid">
      <div>
        <h2>Connect</h2>
        <ul>
          <li><a href="mailto:anthony@antjtw.com">Email</a></li>
          <li><a href="https://www.linkedin.com/in/ant-white/" rel="noopener">LinkedIn</a></li>
        </ul>
      </div>
      <div>
        <h2>MTFBWY RPG</h2>
        <ul>
          <li><a href="#">Rules document</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </div>
      <div>
        <h2>Other</h2>
        <ul>
          <li><a href="cv.html">Digital CV</a></li>
          <li><a href="#">Printable CV</a></li>
        </ul>
      </div>
    </div>
    <p class="site-footer__copy">&copy; Anthony White, until the heat death of the universe</p>
  </div>
</footer>
